button {
  @include buttonEffect(btn-roll, bottom, 80px, spin, 1s);
  @include buttonEffect(btn-hold, bottom, 30px, drop, 1s);
  @include buttonEffect(btn-new, top, 30px, jump, 2s);
  &.btn-question,
  &.btn-close {
    background : none;
    border     : 0;
    position   : absolute;
    right      : 25px;
    top        : 10px;
    cursor     : pointer;
    z-index    : 1;
    color      : darkgray;
    &:focus {
      outline : 0;
    }
  }
}
