.card_wrapper {
  //position         : relative;
  //height           : 478px;
  //perspective      : 1000px;
  //transition       : transform 1s;
  //transform-style  : preserve-3d;
  //transform-origin : 50% 50%;
  //&.flipped {
  //  transform : rotateY(180deg);
  //}
}
.card {
  box-shadow          : 0 2px 30px -8px black;
  overflow            : hidden;
  //backface-visibility : hidden;
  //height              : 100%;
  width               : 100%;
  //left                : 0;
  //top                 : 0;
  //border              : 0;
  //position            : absolute;
  //z-index             : 1;

}
//.card_front {
//
//}
//.card_back {
//  transform : rotateY(180deg);
//}
