.game-rules {
  padding : 0 30px 0;
  p, li, a, small {
    text-align     : left;
    text-transform : none;
    font-size      : 15px;
  }
}
.game-rules-wrapper {
  position         : absolute;
  width            : 0;
  height           : 0;
  left             : 50%;
  top              : 50%;
  max-width        : 100%;
  background-color : white;
  display          : none;
  z-index          : 2;
  transform        : translate(-50%, -50%);
  box-shadow       : 0 2px 30px -8px black;
  overflow         : hidden;
  border-radius    : 3px;
  padding          : 60px 20px 30px;
  &.active {
    display : block;
  }

}
.game-rules-window {
  overflow-y : scroll;
  height: 100%;
}
