.player-0-panel,
.player-1-panel {
  margin : 80px 0;
  user-select: none;
  @include panelBg(active, gray);
  @include panelBg(winner, red);
}

.player-name {
  font-size      : 3em;
  position       : relative;
  @include activeState(color, black);
  .winner & {
    color : indianred;
  }
}

.player-score {
  font-size   : 5em;
  line-height : 1;
  @include activeState(color, indianred);
  .winner & {
    color : indianred;
  }
}

.player-current-box {
  padding          : 10px 0;
  width            : 120px;
  margin           : 80px auto 0;
  @include activeState(background-color, indianred);
}

.player-current-label {
  font-size      : 0.9em;
  @include activeState(color, black);
}

.player-current-score {
  font-size   : 1.8em;
  @include activeState(color, white);
}
