@import "scss/root",
        "scss/mixins",
        "scss/keyframes",
        "scss/player",
        "scss/buttons",
        "scss/dice",
        "scss/card";
.wrapper {
  height          : 100vh;
  background      : linear-gradient(-60deg, #48c6ef, #6f86d6);
  display         : flex;
  justify-content : center;
  align-items     : center;
}
.game-rules {
  padding        : 30px;
  p, li {
    text-align     : left;
    text-transform : none;
  }
}
canvas {
  display  : block;
  position : absolute;
  left     : 0;
  top      : 0;
  height   : 100%;
  width    : 100%;
}

