:root {
  font-size: 16px; }

* {
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase; }

/**
 *  Responsive Breakpoints
 *  @access private
 *  @type Breakpoints
 */
/**
 *  Responsive Breakpoints
 *  @access private
 *  @type  Breakpoint function to define $breakpoints
 *  @param {Media Query} $breakpoints
 *
 */
/*
 *  Button mixin
 *  @param (Button Name) $buttonName
 *  @param (Button Parameter) $buttonParam
 *  @param (Button Position) $buttonPosition
 *  @param (Animation Name) $animationName
 *  @param (Animation Time) $animationTime - default 1s
 *  @param (Animation Property) $animationProperty - default infinite
 */
/*
 *  Button mixin
 *  @param (Color Type) $colorType
 *  @param (Color) $color
 */
/*
 * Simple mixin for background panel
 *  @param (Panel Class) $panelClass
 *  @param (Panel Color) $panelColor
 */
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes jump {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@keyframes drop {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-6px); }
  100% {
    transform: translateY(0); } }
.player-0-panel,
.player-1-panel {
  margin: 80px 0;
  user-select: none; }
  .player-0-panel.active:before,
  .player-1-panel.active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(128, 128, 128, 0.1); }
  .player-0-panel.winner:before,
  .player-1-panel.winner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(255, 0, 0, 0.1); }
  @media only screen and (max-width: 576px) {
    .player-0-panel,
    .player-1-panel {
      margin: 60px 0; } }

.player-name {
  font-size: 3em;
  position: relative;
  color: rgba(0, 0, 0, 0.5); }
  .active .player-name {
    color: black; }
  .winner .player-name {
    color: indianred; }
  @media only screen and (max-width: 576px) {
    .player-name {
      font-size: 1.4rem; } }

.player-score {
  font-size: 5em;
  line-height: 1;
  color: rgba(205, 92, 92, 0.5); }
  .active .player-score {
    color: indianred; }
  .winner .player-score {
    color: indianred; }
  @media only screen and (max-width: 576px) {
    .player-score {
      font-size: 3rem; } }

.player-current-box {
  padding: 10px 0;
  width: 120px;
  border-radius: 3px;
  margin: 80px auto 0;
  background-color: rgba(205, 92, 92, 0.5); }
  .active .player-current-box {
    background-color: indianred; }
  @media only screen and (max-width: 576px) {
    .player-current-box {
      margin: 20px auto 0;
      width: 100px; } }

.player-current-label {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5); }
  .active .player-current-label {
    color: black; }
  @media only screen and (max-width: 576px) {
    .player-current-label {
      font-size: 0.7rem; } }

.player-current-score {
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.5); }
  .active .player-current-score {
    color: white; }
  @media only screen and (max-width: 576px) {
    .player-current-score {
      font-size: 1.2rem; } }

button.btn-roll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: black;
  background-color: transparent;
  border: 0;
  padding: 6px 10px;
  font-size: 1.4em;
  cursor: pointer;
  text-transform: uppercase;
  bottom: 80px; }
  button.btn-roll i {
    color: indianred; }
  button.btn-roll:hover i {
    animation: spin 1s infinite; }
  button.btn-roll:focus {
    outline: none; }
  @media only screen and (max-width: 576px) {
    button.btn-roll {
      position: inherit;
      left: inherit;
      right: inherit;
      bottom: inherit;
      top: inherit;
      transform: inherit;
      font-size: 1rem;
      background-color: #d47373;
      color: white;
      border-radius: 3px;
      margin: 3px 5px;
      flex: 1; }
      button.btn-roll i {
        color: white; } }
button.btn-hold {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: black;
  background-color: transparent;
  border: 0;
  padding: 6px 10px;
  font-size: 1.4em;
  cursor: pointer;
  text-transform: uppercase;
  bottom: 30px; }
  button.btn-hold i {
    color: indianred; }
  button.btn-hold:hover i {
    animation: drop 1s infinite; }
  button.btn-hold:focus {
    outline: none; }
  @media only screen and (max-width: 576px) {
    button.btn-hold {
      position: inherit;
      left: inherit;
      right: inherit;
      bottom: inherit;
      top: inherit;
      transform: inherit;
      font-size: 1rem;
      background-color: #d47373;
      color: white;
      border-radius: 3px;
      margin: 3px 5px;
      flex: 1; }
      button.btn-hold i {
        color: white; } }
button.btn-new {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: black;
  background-color: transparent;
  border: 0;
  padding: 6px 10px;
  font-size: 1.4em;
  cursor: pointer;
  text-transform: uppercase;
  top: 30px; }
  button.btn-new i {
    color: indianred; }
  button.btn-new:hover i {
    animation: jump 2s infinite; }
  button.btn-new:focus {
    outline: none; }
  @media only screen and (max-width: 576px) {
    button.btn-new {
      position: inherit;
      left: inherit;
      right: inherit;
      bottom: inherit;
      top: inherit;
      transform: inherit;
      font-size: 1rem;
      background-color: #d47373;
      color: white;
      border-radius: 3px;
      margin: 3px 5px;
      flex: 1; }
      button.btn-new i {
        color: white; } }
button.btn-flip {
  background: none;
  border: 0;
  position: absolute;
  right: 25px;
  top: 10px;
  cursor: pointer;
  z-index: 1;
  color: darkgray; }
  button.btn-flip:focus {
    outline: 0; }
  @media only screen and (max-width: 576px) {
    button.btn-flip {
      position: inherit;
      right: inherit;
      top: inherit;
      background-color: #d47373;
      margin: 3px 6px;
      color: white;
      padding: 6px 10px;
      border-radius: 3px;
      flex: 1;
      text-transform: uppercase; }
      button.btn-flip--close {
        position: absolute;
        right: 5px;
        top: 10px; } }

.dice {
  width: 80px;
  position: absolute;
  transform: translate(-50%, -40%);
  top: 40%;
  left: 50%;
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

.card {
  box-shadow: 0 2px 30px -8px black;
  overflow: hidden;
  width: 100%; }

.game-rules {
  padding: 0 30px 0; }
  .game-rules p, .game-rules li, .game-rules a, .game-rules small {
    text-align: left;
    text-transform: none;
    font-size: 15px; }

.game-rules-wrapper {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  max-width: 100%;
  background-color: white;
  display: none;
  z-index: 2;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 30px -8px black;
  overflow: hidden;
  border-radius: 3px;
  padding: 60px 20px 30px; }
  .game-rules-wrapper.active {
    display: block; }

.game-rules-window {
  overflow-y: scroll;
  height: 100%; }

.wrapper {
  height: 100vh;
  background: linear-gradient(-60deg, #48c6ef, #6f86d6);
  display: flex;
  justify-content: center;
  align-items: center; }

.final-score {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  color: #555555;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 10px;
  width: 160px;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .final-score:focus {
    outline: none; }

canvas {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }

.github {
  position: absolute;
  bottom: 3px;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center; }
  .github a {
    padding: 0 3px;
    color: black;
    border-radius: 3px;
    text-transform: none; }
    .github a:hover {
      text-decoration: none;
      background-color: black;
      color: white; }

/*# sourceMappingURL=css.css.map */
